<!-- =======| Main |======= -->
<div class="container animated fadeInUp" id="main" class="main" role="main" name="users">

    <div class="col-xs-12">
        <div class="leftside">
            <!-- Page Title -->
            <div class="pagetitle">
                <h1><i class="bx bxs-user-account"></i> {{title}}</h1>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="/"><i class="fa fa-home"></i> Inicio</a></li>
                        <li class="breadcrumb-item active">{{title}}</li>
                    </ol>
                </nav>
            </div>
            <!-- End Page Title -->
        </div>
        <div class="buton">
            <button class="btn btn-outline-danger pull-right" href="javascript:void(0)" (click)="goBack()">Volver</button>
        </div>
        <div class="clear"></div>

        <section class="section dashboard">


            <!-- Recent Pagos -->
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <!-- buscador -->
                        <form class="form-horizontal">
                            <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
                                <div class="input-group">
                                    <input type="search" name="search" type="text" class="form-control col-xs-12" placeholder="Buscar.." [(ngModel)]="query" aria-describedby="button-addon1" class="form-control border-0 bg-light">
                                    <div class="input-group-append">
                                        <button id="button-addon1" type="submit" class="btn btn-link text-primary" (click)="search()" name="submit" data-toggle="tooltip" title="mostrar todos"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- buscador -->
                    </div>
                </div>

                <!-- desktop -->
                <div class="card recent-sales overflow-auto desktop">

                    <div class="card-body">

                        <table [ngClass]="loading? 'table table-borderless datatable':'table table-borderless'">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Usuario</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                    <th class="text-nowrap">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of usuarios |  paginate: { itemsPerPage: count, currentPage: p }">

                                    <td><a [routerLink]="['/dashboard/user/', user.id]">{{user.id}}</a></td>
                                    <td><a [routerLink]="['/dashboard/user/', user.id]">{{user.username}}</a> </td>
                                    <td>{{user.email}}</td>
                                    <td>
                                        <!-- {{user.role }}  -->
                                        <span class="badge bg-dark" *ngIf="user.role === 'SUPERADMIN'">SuperAdmin</span>
                                        <span class="badge bg-primary" *ngIf="user.role === 'ADMIN'">Admin</span>
                                        <span class="badge bg-success" *ngIf="user.role === 'MEMBER'">Miembro</span>
                                        <span class="badge bg-danger" *ngIf="user.role === 'GUEST'">Invitado</span>
                                    </td>

                                    <td class="text-nowrap text-center">

                                        <a [routerLink]="['/dashboard/user/edit', user.id]" class="cursor" data-toggle="tooltip" data-original-title="Edit">
                                            <div class="btn btn-success"><i class="fa fa-edit"></i></div>
                                        </a>
                                        <a (click)="eliminarUser(user.id)" class="cursor" data-toggle="tooltip" data-original-title="Borrar">
                                            <div class="btn btn-danger"><i class="fa fa-trash"></i></div>
                                        </a>
                                    </td>

                                </tr>
                            </tbody>

                        </table>

                        <pagination-controls (pageChange)="p = $event"></pagination-controls>

                    </div>

                </div>
                <!-- desktop -->

                <!-- movil -->
                <div class=" movil ">
                    <div class="card text-left usuariosmovil   shadow-sm" *ngFor="let user of usuarios |  paginate: { itemsPerPage: count, currentPage: p }">
                  
                        
                        <div class="card-body inff">
                            <div class="tooop">
                              <!-- <img src="./assets/images/no-image.jpg"  class="card-img-top avatar"> -->
                              <div class="idd">
                                  <p class="card-text">Id:</p>
                              <h4>{{user.id}}</h4>
                              </div>
                              <div class="rol">
                                  <p class="card-text">role:<br>
                                      <span class="badge bg-dark" *ngIf="user.role === 'SUPERADMIN'">SuperAdmin</span>
                                      <span class="badge bg-primary" *ngIf="user.role === 'ADMIN'">Admin</span>
                                      <span class="badge bg-success" *ngIf="user.role === 'MEMBER'">Miembro</span>
                                      <span class="badge bg-danger" *ngIf="user.role === 'GUEST'">Invitado</span></p>
                              </div>
                              <div class="buton">
                                  <a [routerLink]="['/dashboard/user/', user.id]">
          
                                      <button type="button" class="btn btn-primary" data-toggle="button"> <i class="fa fa-eye"></i></button>
                                  </a>
                                  <a (click)="eliminarUser(user.id)" class="cursor" data-toggle="tooltip" data-original-title="Borrar">
                                    <div class="btn btn-danger"><i class="fa fa-trash"></i></div>
                                </a>
                                 </div>
                          </div>
                          <div class="us">
                              <p class="card-text">Usuario:</p>
                          <h4>{{user.username}}</h4>
                          </div>
                          
                          
                             
                        </div>
                      </div>
                      <div class="clear"></div>
                      <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>
                
                <!-- movil -->
            </div>
            <!-- End Recent Pagos -->

        </section>
    </div>

</div>
<!--/main-->