<!-- =======| Main |======= -->
<div class="container animated fadeInUp" id="main" class="main" role="main" name="profile">

    <div class="col-xs-12">
        <div class="leftside">
            <!-- Page Title -->
            <div class="pagetitle">
                <h1><i class="bx bxs-user-account"></i> {{title}}</h1>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="/"><i class="fa fa-home"></i> Inicio</a></li>
                        <li class="breadcrumb-item"><a routerLink="/dashboard/payments">Pagos</a></li>
                        <li class="breadcrumb-item active">{{title}}</li>
                    </ol>
                </nav>
            </div>
            <!-- End Page Title -->
        </div>
        <div class="buton">
            <button class="btn btn-outline-danger pull-right" href="javascript:void(0)" (click)="goBack()">Volver</button>
        </div>
        <div class="clear"></div>

        <section class="section dashboard">

            <div class="card pagodetail">
                <div class="col-xs-12 col-sm-6">
                    <p><b>Referencia:</b> {{paymentuser?.referencia}}</p>
                    <p><b>Nombre de la cuenta:</b> {{paymentuser?.nombre}}</p>
                    
                    <p><b>email de la cuenta:</b> {{paymentuser?.email}}</p>
                    <p><b>Fecha | Hora:</b> {{paymentuser?.created_at | date:'MMM d, y, h:mm:ss a'}}</p>
                    <p><b>Status:</b>
                        <span class="badge bg-success" *ngIf="paymentuser?.status === 'APPROVED'">Aprobado</span>
                        <span class="badge bg-primary" *ngIf="paymentuser?.status === 'PENDING'">Pendiente</span>
                        <span class="badge bg-danger" *ngIf="paymentuser?.status === 'REJECTED'">Rechazado</span>
                    </p>
                    <!-- <p><b>Monto:</b> {{paymentuser?.currencies.name}} {{paymentuser?.monto}}</p> -->
                    <p><b>Monto:</b> {{paymentuser?.monto}}</p>

                    <p><b>ProductoId:</b> <a [routerLink]="['/dashboard/plan/', paymentuser?.plan_id]">
                  {{paymentuser?.plan_id}}
                </a></p>
                    <!-- <p><b>Email:</b> {{pago.email}}</p> -->
                    <p><b>Metodo de Pago:</b> {{paymentuser?.metodo}}</p>
                    <div *ngIf="paymentuser?.bank_name">
                        <p><b>Nombre del Banco:</b> {{paymentuser?.bank_name}}</p>
                    </div>
                    <div *ngIf="paymentuser?.telefono">
                        <p><b>Telefono:</b> {{paymentuser?.telefono}}</p>
                    </div>
                    <p><b>Validación:</b>
                        <span class="badge bg-success" *ngIf="paymentuser?.validacion === 'APPROVED'">Aprobado</span>
                        <span class="badge bg-primary" *ngIf="paymentuser?.validacion === 'PENDING'">Pendiente</span>
                        <span class="badge bg-danger" *ngIf="paymentuser?.validacion === 'REJECTED'">Rechazado</span>
                    </p>
                    <!-- <p><b>Txn Id:</b> {{pago.}}</p> -->

                    <div class="card" *ngIf="user.role === 'SUPERADMIN' || user.role === 'ADMIN'">
                        <div class="card-body">
                            <!-- <h4 class="card-title" *ngIf="paymentSeleccionado">{{title}}: {{planSeleccionado.name}}</h4> -->
                            <h4 class="card-title">Verificación</h4>
                            <form class="form p-t-20 form-horizontal form-material" [formGroup]="paymentForm"
                                (submit)="updatePago()">
                                <div class="form-group" style="margin-bottom: 25px;">
                                    <label for="exampleInputuname">Status<span class="required">*</span></label>
                                    <div class="input-group">
                                        <select name="" id="input" class="form-control" formControlName="status" required="required">
                                      <option value="">Seleccione</option>
                                      <option value="APPROVED">Aprobado</option>
                                      <option value="PENDING">Pendiente</option>
                                      <option value="REJECTED">Rechazado</option>
                                    </select>
                                    </div>
                                </div>
                                <div class="form-group" style="margin-bottom: 25px;">
                                    <label for="exampleInputuname">Validación<span class="required">*</span></label>
                                    <div class="input-group">
                                        <select name="" id="input" class="form-control" formControlName="validacion"
                                            required="required">
                                            <option value="">Seleccione</option>
                                            <option value="APROVED">Aprobado</option>
                                            <option value="PENDING">Pendiente</option>
                                            <option value="REJECTED">Rechazado</option>
                                        </select>

                                    </div>
                                </div>

                                <button type="submit"
                                    class="btn btn-success waves-effect waves-light m-r-10 btn-block">
                                    <i class="fa fa-save"></i> Guardar cambios
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                
                <div class="col-xs-12 col-sm-6">


                    <div *ngIf="!paymentuser?.image">
                        <img src="./assets/images/no-image.jpg" class="image" class="shadow imagepago" alt="">
                    </div>
                    <div *ngIf="paymentuser?.image">
                        <img [src]="paymentuser?.image | imagenPipe: 'payments'" class="shadow imagepago" alt="">
                    </div>
                </div>

            </div>

        </section>
    </div>
</div>
<!-- End #main-->