<!-- =======| Main |======= -->
<div class="container animated fadeInUp" id="main" class="main" role="main" name="profile">

    <div class="col-xs-12">
        <div class="leftside">
            <!-- Page Title -->
            <div class="pagetitle">
                <h1><i class="bx bxs-user-account"></i> {{title}}</h1>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="/"><i class="fa fa-home"></i> Inicio</a></li>
                        <li class="breadcrumb-item"><a routerLink="/dashboard/payments">Pagos</a></li>
                        <li class="breadcrumb-item active">{{title}}</li>
                    </ol>
                </nav>
            </div>
            <!-- End Page Title -->
        </div>
        <div class="buton">
            <button class="btn btn-outline-danger pull-right" href="javascript:void(0)" (click)="goBack()">Volver</button>
        </div>
        <div class="clear"></div>

        <section class="section dashboard">

            <div class="card pagodetail">
                <div class="col-xs-12 col-sm-6 ">
                    <div class="infopago">
                        <p><b>Referencia:</b><br> {{payment.referencia}}</p>
                        <p><b>Nombre de la cuenta:</b><br> {{payment.nombre}}</p>
                        <p><b>email de la cuenta:</b><br> {{payment.email}}</p>
                        <p><b>Fecha | Hora:</b><br> {{payment.created_at | date:'MMM d, y, h:mm:ss a'}}</p>
                        <p><b>Monto:</b><br> {{payment.monto | currency}}</p> 
                        <p><b>ProductoId:</b><br> 
                            <a [routerLink]="['/dashboard/plan/', payment.plan_id]">
                                {{payment.plan_id}}
                            </a>
                        </p>
                        <!-- <p><b>Email:</b> {{pago.email}}</p> -->
                        <p><b>Metodo de Pago:</b><br> {{payment.metodo}}</p>
                        <div *ngIf="payment.bank_name">
                            <p><b>Nombre del Banco:</b><br> {{payment.bank_name}}</p>
                        </div>
                        <p><b>Status:</b><br>
                            <span class="badge bg-success" *ngIf="payment.status === 'APPROVED'">Aprobado</span>
                            <span class="badge bg-primary" *ngIf="payment.status === 'PENDING'">Pendiente</span>
                            <span class="badge bg-danger" *ngIf="payment.status === 'REJECTED'">Rechazado</span>
                        </p>
                        <p><b>Validación:</b><br>
                            <span class="badge bg-success" *ngIf="payment.validacion === 'APPROVED'">Aprobado</span>
                            <span class="badge bg-primary" *ngIf="payment.validacion === 'PENDING'">Pendiente</span>
                            <span class="badge bg-danger" *ngIf="payment.validacion === 'REJECTED'">Rechazado</span>
                        </p>
                        <!-- <p><b>Txn Id:</b> {{pago.}}</p> -->
                    </div>
                    <!-- validaciones -->
                    <div class="col-md-12 col-sm-6" *ngIf="user.role === 'SUPERADMIN' || user.role === 'ADMIN'">
                        <div class="row">
                            <div class="card">
                                <div class="card-body">
                                    <!-- <h4 class="card-title" *ngIf="paymentSeleccionado">{{title}}: {{planSeleccionado.name}}</h4> -->
                                    <h4 class="card-title">Verificar Compra</h4>
                                    <form class="form p-t-20 form-horizontal form-material" [formGroup]="paymentForm"
                                        (submit)="updatePago()">
                                        <div class="form-group col-xs-12 col-sm-6" style="float: left;">
                                            <label for="exampleInputuname">Status<span class="required">*</span></label>
                                            <div class="input-group">
                                                <select name="" id="input" class="form-control" formControlName="status" required="required">
                                              <option value="">Seleccione</option>
                                              <option value="APPROVED">Aprobado</option>
                                              <option value="PENDING">Pendiente</option>
                                              <option value="REJECTED">Rechazado</option>
                                            </select>
                                            </div>
                                        </div>
                                        <div class="form-group col-xs-12 col-sm-6" style="float: left;">
                                            <label for="exampleInputuname">Validación<span class="required">*</span></label>
                                            <div class="input-group">
                                                <select name="" id="input" class="form-control" formControlName="validacion" required="required">
                                            <option value="">Seleccione</option>
                                            <option value="APPROVED">Aprobado</option>
                                              <option value="PENDING">Pendiente</option>
                                              <option value="REJECTED">Rechazado</option>
                                          </select>
                                            </div>
                                        </div>
                
                                        <button type="submit"
                                            class="btn btn-success waves-effect waves-light m-r-10 btn-block">
                                            <i class="fa fa-save"></i> Guardar cambios
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- validaciones -->
                </div>
                <div class="col-xs-12 col-sm-6">


                    <div *ngIf="!payment.image">
                        <img src="./assets/images/no-image.jpg" class="image" class="shadow imagepago" alt="">
                    </div>
                    <div *ngIf="payment.image">
                        <img [src]="payment.image | imagenPipe: 'payments'" class="shadow imagepago" alt="">
                    </div>
                </div>
            </div>
            

        </section>

        
    </div>
</div>
<!-- End #main-->