<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebar-nav">
                <li class="nav-item">
                    <a class="nav-link collapsed cursor" routerLink="/">
                        <i class="fa fa-home"></i>
                        <span>Inicio</span>
                    </a>
                </li>
                <!-- End Dashboard Nav -->

                <!-- menu superadmin y admin -->

                <div *ngIf="user.role === 'SUPERADMIN' || user.role === 'ADMIN' ">

                    <li class="nav-item">
                        <a class="nav-link collapsed cursor" routerLink="/dashboard/users" routerLinkActive="active">
                            <i class="fa fa-users"></i>
                            <span>Usuarios</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link collapsed cursor" routerLink="/dashboard/directorio" routerLinkActive="active">
                            <i class="fa fa-bookmark"></i>
                            <span>Directorio</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link collapsed cursor" [routerLink]="['/dashboard/planes/all']" routerLinkActive="active">
                            <i class="fa fa-info-circle"></i>
                            <span>Planes</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link collapsed cursor" routerLink="/dashboard/payments" routerLinkActive="active">
                            <i class="fa fa-cc"> </i>
                            <span>Pagos</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link collapsed cursor" [routerLink]="['/dashboard/profile/', user.id]" routerLinkActive="active">
                            <i class="fa fa-user-md"></i>
                            <span>Mi Cuenta</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link collapsed cursor" routerLink="/dashboard/historial-pagos" routerLinkActive="active">
                            <i class="fa fa-google-wallet"> </i>
                            <span>Mis Pagos</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link collapsed cursor" routerLink="/dashboard/configuraciones" routerLinkActive="active">
                            <i class="fa fa-cogs"> </i>
                            <span>Configuraciones</span>
                        </a>
                    </li>
                    <!-- End Payments Page Nav -->
                </div>

                <!-- menu superadmin y admin -->
                <!-- menu miembro -->


                <div *ngIf="user.role === 'MEMBER' ">
                    <li class="nav-item">
                        <a class="nav-link collapsed cursor" [routerLink]="['/dashboard/profile/', user.id]" routerLinkActive="active">
                            <i class="fa fa-user-md"></i>
                            <span>Mi Cuenta</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link collapsed cursor" [routerLink]="['/dashboard/planes/all']" routerLinkActive="active">
                            <i class="fa fa-info-circle"></i>
                            <span>Planes</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link collapsed cursor" [routerLink]="['/dashboard/realizar-pago/']" routerLinkActive="active">
                            <i class="fa fa-cc"></i>
                            <span>Pagar</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link collapsed cursor" routerLink="/dashboard/historial-pagos" routerLinkActive="active">
                            <i class="fa fa-google-wallet"> </i>
                            <span>Mis Pagos</span>
                        </a>
                    </li>
                    <!-- End Payments Page Nav -->
                </div>


                <div *ngIf="user.role === 'GUEST' ">
                    <!-- <li class="nav-item">
                        <a class="nav-link collapsed cursor" [routerLink]="['/dashboard/profile/', user.id]" routerLinkActive="active">
                            <i class="fa fa-user-md"></i>
                            <span>Mi Cuenta</span>
                        </a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link collapsed cursor" [routerLink]="['/dashboard/realizar-pago']" routerLinkActive="active">
                            <i class="fa fa-cc"></i>
                            <span>Pagar</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link collapsed cursor" routerLink="/dashboard/historial-pagos" routerLinkActive="active">
                            <i class="fa fa-google-wallet"> </i>
                            <span>Mis Pagos</span>
                        </a>
                    </li>
                    <!-- End Payments Page Nav -->
                </div>

                <!-- End Payments Page Nav -->
                <!-- todos -->
                <li class="nav-item">
                    <a class="nav-link collapsed cursor" routerLink="/dashboard/help" routerLinkActive="active">
                        <i class="fa fa-ambulance"></i>
                        <span>Ayuda</span>
                    </a>
                </li>
                <!-- End F.A.Q Page Nav -->

                <li class="nav-item">
                    <a class="nav-link collapsed cursor" routerLink="/dashboard/contact" routerLinkActive="active">
                        <i class="fa fa-envelope"></i>
                        <span>Contacto</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link collapsed cursor" (click)="logout()">
                        <i class="fa fa-power-off"></i>
                        <span>Salir</span>
                    </a>
                </li>
                <!-- End Contact Page Nav -->


            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
    <!-- ============================================================== -->
<!-- footer -->
<!-- ============================================================== -->
<footer class="credit-footer"> <small>© {{year}} | SVCBMF. <br> Desarrollado por:<br> <a href="http://malcolmcordova.com" target="_blank">Malcolm Córdova Studio Design</a></small> </footer>
<!-- ============================================================== -->
<!-- End footer -->
<!-- ============================================================== -->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->

