<!-- =======| Main |======= -->
<div class="container animated fadeInUp" id="main" class="main" role="main" name="profile">
    <div class="col-xs-12">
        <!-- Page Title -->
        <div class="pagetitle">
            <h1><i class="bx bxs-user-account"></i> {{title}}</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/"><i class="bi bi-house"></i> Inicio</a></li>
                    <li class="breadcrumb-item active">{{title}}</li>
                </ol>
            </nav>
        </div>
        <!-- End Page Title -->
        <div class="clear"></div>

        <section class="section dashboard">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 text-center cardwhite-sm shadow">
                        <h2>En la SVCBMF estamos muy atentos a tus comentarios, preguntas y sugerencias.</h2>
                        <p class="text-center">Escríbenos utilizando la planilla de contacto y con gusto le responderemos.</p>
                    </div>
                    <div class="Social col-xs-12 col-md-6 col-sm-6 cardwhite-sm shadow">
                        <div id="direcc">
                            <div class="info infodire">
                                <div class="icon_cont">
                                    <div class="icon">
                                        <i class="fa fa-map-marker"></i>
                                    </div>
                                </div>
                                <div class="datos">
                                    <p><b class="font" >Dirección:</b></p>
                                    <p>Av.Libertador, Torre Macom, Piso 2, Ofc. 2 A, Chacao, Caracas, Venezuela</p>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <div class="info contt">

                                <div class="continfo">
                                    <div class="icon_cont">
                                        <div class="icon">
                                            <i class="fa fa-phone"></i>
                                        </div>
                                    </div>
                                    <div class="datos">
                                        <p><b class="font" >Teléfono Presidencia:</b></p>
                                        <p><a href="telf:+584143151422" class="tel" target="_blank">
                                                +58(414)-315.14.22
                                            </a>
                                        </p>
                                    </div>
                                </div>
                                <div class="continfo">
                                    <div class="icon_cont">
                                        <div class="icon">
                                            <i class="fa fa-phone"></i>
                                        </div>
                                    </div>
                                    <div class="datos">
                                        <p><b class="font" >Teléfono Secretaría:</b> </p>
                                        <p><a href="telf:+584126076369" class="tel" target="_blank">+58(412)-607.63.69</a></p>
                                    </div>
                                </div>
                                <div class="continfo">
                                    <div class="icon_cont">
                                        <div class="icon">
                                            <i class="fa fa-phone"></i>
                                        </div>
                                    </div>
                                    <div class="datos">
                                        <p><b class="font" >Teléfono Tesorería:</b></p>
                                    <p><a href="telf:+584129714676" class="tel" target="_blank">+58(412)-971.46.76</a></p>
                                    </div>
                                </div>
                                <div class="continfo">
                                    <div class="icon_cont">
                                        <div class="icon">
                                            <i class="fa fa-envelope"></i>
                                        </div>
                                    </div>
                                    <div class="datos">
                                        <p><b class="font" >Email:</b></p>
                                        <p><a href="mailto:svcbmf@gmail.com" target="_blank">svcbmf@gmail.com</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <section class="cmspage mt-4 contact">
                <div class="container card cardwhite">
                    <div class="page-desc row">
                        <div class="col-12 col-sm-6 col-md-8">
                            <form (ngSubmit)="enviarEmail()" [formGroup]="contactForm">
                                <div class="form-group col-12 col-sm-6">
                                    <label>Nombres <span class="required">*</span></label>
                                    <input type="text" name="name" id="name" formControlName="name" class="form-control" placeholder="Pedro Pérez" required>
                                    
                                </div>
                                <div class=" form-group col-12 col-sm-6">
                                    <label>Teléfono <span class="required">*</span></label>
                                    <input type="text" name="phone" id="phone" formControlName="phone" class="form-control" placeholder=" 0212-5555555">
                                </div>
                                <div class=" form-group col-12">
                                    <label>Email <span class="required">*</span></label>
                                    <input type="text" name="email" id="email" formControlName="email" class="form-control" placeholder="usuario@cuenta.com" required>
                                    
                                </div>
                                <div class=" form-group col-12 ">
                                    <label>Tema <span class="required">*</span></label>
                                    <input type="text" name="subject" id="subject" formControlName="subject" class="form-control" placeholder=" Quiero saber sobre...">
                                </div>
                                <div class=" form-group col-12">
                                    <label>Mensaje <span class="required">*</span></label>
                                    <textarea name="comment" id="comment" formControlName="comment" rows="5" class="form-control" placeholder="Cualquier duda.." required></textarea>
                                    
                                </div>
                                <div class="clear"></div><br>
                                <div class="form-group col-12">
                                    <button [disabled]="!contactForm.valid" class="btn btn-outline-success col-xs-12 col-md-4 col-md-offset-4"> Enviar</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-xs-12 col-md-4 mapa">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m22!1m12!1m3!1d125539.83252791694!2d-66.9286229662642!3d10.491223935226108!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m7!3e6!4m5!1s0x8c2a58fe521ba9cf%3A0x92e3bc4f4f89945f!2sBrake%20Parts%20JCG%2C%20F4RR%2BFHV%2C%20Av.%20Libertador%2C%20Torre%20Macom%2C%20PH%2C%20Sector%20Los%20Ravelos%2C%20Caracas%2C%20Miranda!3m2!1d10.491231599999999!2d-66.8585824!5e0!3m2!1ses!2sve!4v1676234155406!5m2!1ses!2sve"
                        frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </section>

        </section>
        
    </div>
    <br><br>
        <!-- footer -->
<!-- ============================================================== -->
<footer class="credit-footer"> <small>© {{year}} | SVCBMF. <br> Desarrollado por:<br> <a href="http://malcolmcordova.com" target="_blank">Malcolm Córdova Studio Design</a></small> </footer>
<!-- ============================================================== -->
<!-- End footer -->
<!-- ============================================================== -->
</div>
<!-- End #main-->