<div class="row">
    <div class="col-xs-12 bannerplanes">
        <!-- banner planes -->

        <div class="instruccioness shadow animated zoomIn planss">
            <div class="info">

                <h2>Membresía</h2><br>
                <p>Actualiza o paga tu membresía aquí </p>
                <br>
                <div *ngFor="let plan of planes">
                    <h2>${{plan.price}}</h2>
                </div>

                <br>
                <p>Utilizando su metodo de pago preferido </p>
                <ul>
                    <!-- <li class="badge bg-primary">Paypal</li> -->
                    <li class="badge bg-primary">Zelle y o Transferencias Internacionales</li>
                    <li class="badge bg-primary">Pago Móvil</li>
                    <li class="badge bg-primary">Transferencia Nacionales</li>
                    <li class="badge bg-primary">Efectivo</li>
                </ul>
                <a routerLink="/dashboard/planes/all">
                    <div class="button btn btn-outline-success">Ver Planes</div>
                </a>
            </div>
        </div>
        <!-- banner planes -->

    </div>
</div>