.planss,
.producto {
    background-repeat: no-repeat;
    background-size: cover;
    
}

.bannerplanes .instruccioness .info {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info h2 {
    line-height: 0;
    font-size: 4rem;
    padding-top: 30px;
}
.info h3 {
    font-size: 3rem;
}
.info p {
    font-size: 1.2rem;
}


@media(max-width:480px) {
    .bannerplanes .instruccioness .info {
        align-items: flex-start;
    }
    .info ul {
        padding: 0;
    }
    .planss,
    .producto {
        background-position: center;
    }
}