<!-- =======| Main |======= -->
<div class="container animated fadeInUp" id="main" class="main" role="main" name="profile">

    <div class="col-xs-12">
        <div class="leftside">
            <!-- Page Title -->
            <div class="pagetitle">
                <h1><i class="bx bxs-user-account"></i> {{title}}</h1>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="/"><i class="fa fa-home"></i> Inicio</a></li>
                        <li class="breadcrumb-item active">{{title}}</li>
                    </ol>
                </nav>
            </div>
            <!-- End Page Title -->
        </div>
        <div class="buton">
            <button class="btn btn-outline-danger pull-right" href="javascript:void(0)" (click)="goBack()">Volver</button>
        </div>
        <div class="clear"></div>

        <section class="section profile">
            <div class="row">
                <div class="col-xl-3">

                    <div class="card">
                        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

                            <div *ngIf="!userdirectories">
                                <img [src]="userdirectories.image | imagenPipe: 'directories'" class="rounded-circle">
                            </div>
                            <div *ngIf="userdirectories">
                                <img [src]="userdirectories.image | imagenPipe: 'directories'" [alt]="userprofile.username" class="rounded-circle">
                            </div>

                            <h3>{{userprofile.username}}</h3>
                            <p>{{userprofile.email}}</p>
                            <h3>
                                <span class="badge bg-dark-light" *ngIf="userprofile.role === 'SUPERADMIN'">SuperAdmin</span>
                                <span class="badge bg-primary" *ngIf="userprofile.role === 'ADMIN'">Admin</span>
                                <span class="badge bg-success" *ngIf="userprofile.role === 'MEMBER'">Miembro</span>
                                <span class="badge bg-secondary" *ngIf="userprofile.role === 'GUEST'">Invitado</span>
                            </h3>

                            <a routerLink="/dashboard/rolesconf">
                                <button class="btn btn-outline-primary btn-sm">Modificar Rol</button>
                            </a>
                            <div *ngIf="!userprofile.directories">
                                no data social
                            </div>

                        </div>
                    </div>

                </div>

                <div class="col-xl-9">

                    <div class="card">
                        <div class="card-body pt-3">
                            <!-- Bordered Tabs -->
                            <ul class="nav nav-tabs nav-tabs-bordered">
                                <li class="nav-item">
                                    <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#historial">Historial Pagos</button>
                                </li>
                                <li class="nav-item">
                                    <button class="nav-link " data-bs-toggle="tab" data-bs-target="#detalle">Detalles</button>
                                </li>
                            </ul>
                            <div class="tab-content pt-2">

                                <div class="tab-pane fade show active historial" id="historial">
                                    <ul *ngFor="let payment of userpayment |  paginate: { itemsPerPage: count, currentPage: p }">
                                        <li><a [routerLink]="['/dashboard/payment-detail', payment.id]">
                                        Referencia: {{payment.referencia}} | Status:
                                        <span class="badge bg-success" *ngIf="payment.status === 'APPROVED'">Aprobado</span>
                                          <span class="badge bg-primary" *ngIf="payment.status === 'PENDING'">Pendiente</span>
                                          <span class="badge bg-danger" *ngIf="payment.status === 'REJECTED'">Rechazado</span>
                                          | Fecha: {{payment.created_at | date:'MMM d, y, h:mm:ss a'}}
                                      </a>
                                        </li>
                                    </ul>
                                    <br />
                                    <pagination-controls (pageChange)="p = $event"></pagination-controls>


                                </div>

                                <div class="tab-pane fade detail  pt-3" id="detalle">


                                    <div *ngIf="!userdirectories">
                                        <p>No posee directorio</p>
                                    </div>
                                    <div class="col-xs-12">
                                        <div *ngIf="userdirectories">
                                            <div class="row">
                                                <div class="col-xs-6 col-sm-6 col-md-4 b-r">
                                                    <div class="col-12  label"><i class="bi bi-person-circle"></i> Nombre</div>
                                                    <div class="col-12  info">{{userdirectories.nombre}}</div>
                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-4 b-r">
                                                    <div class="col-12  label"><i class="bi bi-person-circle"></i> Apellido</div>
                                                    <div class="col-12  info">{{userdirectories.surname}}</div>
                                                </div>


                                                <div class="col-xs-6 col-sm-6 col-md-4 b-r">
                                                    <div class="col-12  label"><i class="bi  bi-award"></i> Especialidad</div>
                                                    <div class="col-12 info">{{userdirectories.especialidad}} </div>
                                                </div>
                                            </div>
                                            <hr>

                                            <div class="row">
                                                <div class="col-xs-6 col-sm-6 col-md-4 b-r">
                                                    <div class="col-12  label"><i class="bi bi-bank2"></i> Universidad</div>
                                                    <div class="col-12  info">{{userdirectories.universidad}}</div>
                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-4 b-r">
                                                    <div class="col-12  label"><i class="bi  bi-award"></i> Año</div>
                                                    <div class="col-12  info">{{userdirectories.ano}}</div>
                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-4 b-r">
                                                    <div class="col-12  label"><i class="bi bi-geo"></i> Website</div>
                                                    <div class="col-12  info">
                                                        <a href="{{userdirectories.website}}" target="_blank">

                                                  {{userdirectories.website}}
                                                </a>
                                                    </div>
                                                </div>

                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col-xs-6 col-sm-6 col-md-3 b-r">
                                                    <div class="col-12  label"><i class="bi bi-telephone"></i> Principal</div>
                                                    <div class="col-12  info">
                                                        <a href="tel:{{userdirectories.telprincipal}}" target="_blank">
                                                {{userdirectories.telprincipal}}
                                                </a>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-3 b-r">
                                                    <div class="col-12  label"><i class="bi bi-telephone"></i> Móvil</div>

                                                    <div class="col-12  info">
                                                        <a href="tel:{{userdirectories.telmovil}}" target="_blank">
                                                  {{userdirectories.telmovil}}
                                                </a>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-3 b-r">
                                                    <div class="col-12  label"><i class="bi bi-telephone"></i> Oficina</div>
                                                    <div class="col-12  info">
                                                        <a href="tel:{{userdirectories.telhome}}" target="_blank">
                                                  {{userdirectories.telhome}}
                                                </a>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-3 b-r">
                                                    <div class="col-12  label"><i class="bi bi-telephone"></i> Adicional</div>
                                                    <div class="col-12  info">
                                                        <a href="tel:{{userdirectories.tel1}}" target="_blank">
                                                  {{userdirectories.tel1}}
                                                </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-6 col-md-3 b-r">
                                                    <div class="col-12  label"><i class="bi bi-telephone"></i> Otros</div>
                                                    <div class="col-12 info">{{userdirectories.telefonos}}</div>
                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-3 b-r">
                                                    <div class="col-12  label"><i class="bi bi-geo"></i> Estado</div>
                                                    <div class="col-12  info">{{userdirectories.estado}}</div>
                                                </div>
                                                <div class="col-xs-12 col-sm-6 col-md-3 b-r">
                                                    <div class="col-12  label"><i class="bi bi-file-text"></i> Dirección</div>
                                                    <div class="col-12  info">
                                                        <p>{{userdirectories.direccion}}</p>

                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-6 col-md-3 b-r">
                                                    <div class="col-12  label"><i class="bi bi-file-text"></i> Dir. Adicional</div>
                                                    <div class="col-12  info">
                                                        <p>{{userdirectories.direccion1}}</p>

                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-6 col-md-3 b-r">
                                                    <div class="col-12  label"><i class="fa fa-facebook"></i> Facebook</div>
                                                    <div class="col-12 info">{{userdirectories.facebook}}</div>
                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-3 b-r">
                                                    <div class="col-12  label"><i class="fa fa-instagram"></i> Instagram</div>
                                                    <div class="col-12  info">{{userdirectories.instagram}}</div>
                                                </div>
                                                <div class="col-xs-12 col-sm-6 col-md-3 b-r">
                                                    <div class="col-12  label"><i class="fa fa-linkedin"></i> Linkedin</div>
                                                    <div class="col-12  info">{{userdirectories.linkedin}}</div>
                                                </div>
                                                <div class="col-xs-12 col-sm-6 col-md-3 b-r">
                                                    <div class="col-12  label"><i class="fa fa-twitter"></i> Twitter</div>
                                                    <div class="col-12  info">{{userdirectories.twitter}}</div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                    <br>
                                    <hr>
                                    <br>
                                    <div class="imgqr">
                                        <qr-code class="code" id="box" [value]="userdirectories.vcard" [size]="250">
                                            <img style="margin: auto;">
                                        </qr-code>
                                        <div class="clear"></div>
                                        <br>

                                        <!-- <a class="btn btn-outline-primary" [href]="href" (click)="downloadImage()" download="QR_SVCBMF_{{directory.nombre}}_{{directory.surname}}"><i class="fa fa-download"></i> Descargar QR</a> -->
                                    </div>







                                </div>




                            </div>
                            <!-- End Bordered Tabs -->

                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>

</div>
<!--/main-->