<!-- =======| Main |======= -->
<div class="container animated fadeInUp" id="main" class="main" role="main" name="users">

    <div class="col-xs-12">
        <div class="leftside">
            <!-- Page Title -->
            <div class="pagetitle">
                <h1><i class="bx bxs-user-account"></i> {{title}}</h1>

                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="/"><i class="bi bi-house"></i> Inicio</a></li>
                        <li class="breadcrumb-item"><a routerLink="/">Panel Admin</a></li>
                        <li class="breadcrumb-item"><a routerLink="/dashboard/configuraciones">Configuraciones</a></li>
                        <li class="breadcrumb-item active">{{title}}</li>
                    </ol>
                </nav>
            </div>
            <!-- End Page Title -->
        </div>
        <div class="buton">
            <button class="btn btn-outline-danger pull-right" href="javascript:void(0)" (click)="goBack()">Volver</button>
        </div>
        <div class="clear"></div>



        <section class="section dashboard">


            <!-- Recent Pagos -->
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                       <!-- buscador -->
                       <form class="form-horizontal">
                        <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
                            <div class="input-group">
                                <input type="search" name="search" type="text" class="form-control col-xs-12" placeholder="Buscar.." [(ngModel)]="query" aria-describedby="button-addon1" class="form-control border-0 bg-light">
                                <div class="input-group-append">
                                    <button id="button-addon1" type="submit" class="btn btn-link text-primary" (click)="search()" name="submit" data-toggle="tooltip" title="mostrar todos"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- buscador -->
                    </div>
                </div>
                <div class="card recent-sales overflow-auto desktop">
                    <div class="card-body">
                        <table class="table table-borderless datatable':'table table-borderless">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Username</th>
                                    <th>email</th>
                                    <th>Role</th>
                                    <th>Role Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of usuarios |  paginate: { itemsPerPage: count, currentPage: p }">

                                    <td>{{user.id}}</td>
                                    <td><a [routerLink]="['/dashboard/user/', user.id]">{{user.username}}</a></td>
                                    
                                    <td>{{user.email}} </td>
                                    <td>

                                        <span class="badge bg-dark" *ngIf="user.role === 'SUPERADMIN'">SuperAdmin</span>
                                        <span class="badge bg-primary" *ngIf="user.role === 'ADMIN'">Admin</span>
                                        <span class="badge bg-success" *ngIf="user.role === 'MEMBER'">Miembro</span>
                                        <span class="badge bg-danger" *ngIf="user.role === 'GUEST'">Invitado</span>

                                    </td>
                                    <td>


                                  <select class="form-control" [(ngModel)]="user.role" (change)="cambiarRole(user)">
                                    <option value="SUPERADMIN">Super Admin</option>
                                    <option value="ADMIN">Admin</option>
                                    <option value="MEMBER">Miembro</option>
                                    <option value="GUEST">Invitado</option>
                                  </select>

                                    </td>

                                </tr>
                            </tbody>

                        </table>
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>

                    </div>
                </div>

                <!-- movil -->
                <div class=" movil ">
                    <div class="card text-left usuariosmovil shadow-sm" *ngFor="let user of usuarios |  paginate: { itemsPerPage: count, currentPage: p }">
                        <div class="card-body inff">
                            <div class="tooop">
                                <div class="idd">
                                    <p class="card-text">Usuario:</p>
                                <h4>{{user.username|slice:0:10}}...</h4>
                                </div>
                              <div class="rol">
                                  <p class="card-text">Role:<br>
                                    <span class="badge bg-dark" *ngIf="user.role === 'SUPERADMIN'">SuperAdmin</span>
                                        <span class="badge bg-primary" *ngIf="user.role === 'ADMIN'">Admin</span>
                                        <span class="badge bg-success" *ngIf="user.role === 'MEMBER'">Miembro</span>
                                        <span class="badge bg-danger" *ngIf="user.role === 'GUEST'">Invitado</span>
                              </div>
                              <div class="buton">
                                <a [routerLink]="['/dashboard/user/', user.id]" class="cursor" data-toggle="tooltip" data-original-title="Edit">
                                    <i class="fa fa-edit text-success" style="font-size: 18px;"></i>

                                </a>
                                 </div>
                                </div>
                          
                          <select class="form-control" [(ngModel)]="user.role" (change)="cambiarRole(user)">
                            <option value="SUPERADMIN">Super Admin</option>
                            <option value="ADMIN">Admin</option>
                            <option value="MEMBER">Miembro</option>
                            <option value="GUEST">Invitado</option>
                          </select>
                          
                             
                        </div>
                      </div>
                      <div class="clear"></div>
                      <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>
            </div>
            <!-- End Recent Pagos -->

        </section>
        

    </div>
</div>
<!--/main-->
