<!-- =======| Main |======= -->
<div class="container animated fadeInUp" id="main" class="main" role="main" name="users">

    <div class="col-xs-12">
        <div class="leftside">
            <!-- Page Title -->
            <div class="pagetitle">
                <h1><i class="bx bxs-user-account"></i> {{title}}</h1>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="/"><i class="bi bi-house"></i> Inicio</a></li>
                        <li class="breadcrumb-item"><a routerLink="/dashboard/configuraciones">Configuraciones</a></li>
                        <li class="breadcrumb-item active">{{title}}</li>
                    </ol>
                </nav>
            </div>
            <!-- End Page Title -->
        </div>
        <div class="buton">
            <button class="btn btn-outline-danger pull-right" href="javascript:void(0)" (click)="goBack()">Volver</button>
        </div>
        <div class="clear"></div>



        <section class="section dashboard">

            <div class="row">
                <div class="col-12 col-md-6">


                    <form enctype="multipart/form-data" [formGroup]="planForm" (ngSubmit)="editPlan()">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Nombre</label>
                            <input formControlName="name" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Precio</label>
                            <input formControlName="price" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="select-input" style="line-height: 2.2;">Moneda <span class="required">*</span></label>
                            <select class="form-control " formControlName="currency_id">
                            <option disabled  value="">SELECCIONAR</option>
                            <option *ngFor="let item of currenciesAll" [value]="item.id" >{{item.name}}</option>

                        </select>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">Status</label>
                            <select name="" id="input" class="form-control" formControlName="status">
                          <option value="">Seleccione</option>
                          <option value="PUBLISHED">Aprobado</option>
                          <option value="PENDING">Pendiente</option>
                          <option value="REJECTED">Rechazado</option>
                      </select>

                        </div>
                        <input type="hidden" formControlName="id">

                        <button (click)="editPlan()" class="btn btn-primary">Submit</button>
                    </form>


                </div>
                <div class="col-12 col-md-6">
                    <label> {{'Anexe su foto'}}</label>
                    <br>
                    <div class="row">
                        <div class="col-xs-12">


                            <div *ngIf="planSeleccionado">
                                <button *ngIf="planSeleccionado.image" type="button" class="btn btn-outline-danger" (click)="deleteFotoPerfil()">Eliminar</button>
                                <img [src]="planSeleccionado.image | imagenPipe: 'plans'" style="height: 100px; width: 100px;" class="img-circle avatar">
                            </div>


                        </div>
                        <div class="col-xs-12">
                            <div class="especificaciones">
                                <h4>{{'Especificaciones'}}:</h4>
                                <ul>
                                    <li>{{'Tamaño máximo'}}: 300px X 300px</li>
                                    <li>{{'Peso máximo'}}: 2 mb</li>
                                    <li>{{'Formato permitido'}}: jpg, .gif, .png</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <angular-file-uploader [config]="afuConfig " (ApiResponse)="avatarUpload($event) ">
                            </angular-file-uploader>
                        </div>
                    </div>
                </div>
            </div>

        </section>

    </div>
</div>
<!--/main-->